

.theMovie {
    justify-content: flex-start;
    display: flex;
    width: max-content;
}

#movie-selection {
    display: flex;
}

.mb-3 {
    width: 20%;
    max-width: max-content;
}

.movie-card {
    width: auto;
    height: 150px;
    cursor: pointer;
    background-color: lightsteelblue;
    border: black solid;
    margin: 5px;

}
.theMovie {
    flex-wrap: wrap;
}

.theMovie {
    justify-content: flex-start;
    display: flex;
    width: min-content;
}

#movie-selection {
    display: flex;
}

.mb-3 {
    width: 20%;
    max-width: max-content;
}

.movie-card {
    width: auto;
    height: 150px;
    cursor: pointer;
    background-color: lightsteelblue;
    border: black solid;
    margin: 5px;
    display: inline-flex;

}
.theMovie {
    flex-wrap: wrap;
}





















