
.theMovie {
    justify-content: flex-start;
    display: flex;
    width: max-content;
    flex-wrap: wrap;
}

#movie-selection {
    display: flex;
    width: 100%;
}

.mb-3 {
    width: 20%;
    max-width: max-content;
}

.movie-card {
    height: auto;
    cursor: pointer;
    background-color: lightsteelblue;
    border: black solid;
    margin: 5px;
    min-width: min-content;
    flex-flow: column;
    display: inline-flex;
    align-items: flex-start;


}

.theMovie {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    width: min-content;
}

img {
    height: auto;
    width: 150px;
}








